#main-container {
  position: relative;
  max-width: 50%;
  min-width: 400px;
  height: 70vh;
  min-height: 1000px;
  top: 150px;
  margin-left: auto;
  margin-right: auto;
  background-color: lightblue;
}

#header-container {
  position: relative;
  width: 100%;
  height: 12%;
  background-color: lightgray;
}

.header-school-name {
  position: absolute;
  top: 20px;
  left: 17px;
  font-size: clamp(1rem, 2vw, 1.2rem);
}

.header-school-slogan {
  position: absolute;
  top: clamp(40px, 3%, 60px);
  left: clamp(45px, 5%, 70px);
  font-size: clamp(0.9rem, 1.5vw, 1rem);
}

#header-socials {
  position: absolute;
  width: 40px;
  bottom: 5px;
}

.header-linkedin {
  left: 5px;
}

.header-facebook {
  left: clamp(50px, 7%, 60px);
}

.header-twitter {
  left: clamp(80px, 9%, 115px);
}

#sidebar-container {
  position: absolute;
  max-width: 30%;
  min-width: 20%;
  height: 88%;
  right: 0;
  flex-direction: column;
  background-color: lightcoral;
}

#student-information-container {
  position: relative;
  max-width: 80%;
  min-width: 50%;
  height: 40%;
  top: 0;
  background-color: lightgreen;
}

#student-management-container {
  position: relative;
  max-width: 80%;
  min-width: 50%;
  height: 48%;
  bottom: 0;
  background-color: lightgoldenrodyellow;
}

#login-container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-width: 70%;
  min-width: 400px;
  height: 40vh;
  opacity: 0;
  background-color: aliceblue;
}

#create-account-container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-width: 70%;
  min-width: 420px;
  height: 50vh;
  opacity: 0;
  background-color: aliceblue;
}
