#main-container {
  position: relative;
  max-width: 50%;
  min-width: 400px;
  height: 70vh;
  min-height: 1000px;
  top: 150px;
  margin-left: auto;
  margin-right: auto;
  background-color: lightblue;
  border: solid;
  border-radius: 5px;
}

#header-container {
  position: relative;
  width: 100%;
  max-height: 15%;
  min-height: 150px;
  background-color: lightgray;
}

.header-school-name {
  position: absolute;
  top: 20px;
  left: 17px;
  font-size: clamp(1rem, 1vw, 2rem);
  border-bottom: solid;
  margin: 0;
}

.header-school-slogan {
  position: absolute;
  top: clamp(5%, 60px, 80px);

  left: clamp(45px, 5%, 70px);
  font-size: clamp(0.9rem, 1.5vw, 1rem);
  margin: 0;
}

#header-socials {
  position: absolute;
  width: 40px;
  bottom: 5px;
}

.header-linkedin {
  left: 5px;
}

.header-facebook {
  left: clamp(50px, 7%, 60px);
}

.header-twitter {
  left: clamp(98px, 9%, 110px);
}

.header-logo {
  margin-left: auto;
  margin-right: auto;
  display: block;
  width: 150px;
  height: 100%;
}

#header-login {
  position: absolute;
  max-width: 10%;
  min-width: 5%;
  top: 50%;
  margin: 0;
  background-color: transparent;
  text-decoration: none;
  border: none;
  border-bottom: solid;
  outline: none;
}

.header-login-fullname {
  right: 20%;
}

.header-login-pin {
  right: 7%;
}

.header-login-button {
  position: absolute;
  right: 5px;
  width: 50px;
  top: 45%;
}

.header-login-icon {
  display: none;
}
#sidebar-container {
  position: absolute;
  max-width: 30%;
  min-width: 20%;
  height: 85%;
  right: 0;
  flex-direction: column;
  background-color: lightcoral;
}

#sidebar-link {
  position: relative;
  width: 100%;
}

#student-information-container {
  position: relative;
  max-width: 80%;
  min-width: 50%;
  height: 40%;
  top: 0;
  background-color: lightgreen;
}

#student-management-container {
  position: relative;
  max-width: 80%;
  min-width: 50%;
  height: 45%;
  bottom: 0;
  background-color: lightgoldenrodyellow;
}

#login-container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-width: 70%;
  min-width: 400px;
  height: 40vh;
  opacity: 0;
  background-color: aliceblue;
}

#create-account-container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-width: 70%;
  min-width: 420px;
  height: 50vh;
  opacity: 0;
  background-color: aliceblue;
}

@media screen and (min-width: 0) and (max-width: 1200px) {
  .header-school-slogan {
    top: 50px;
  }

  .header-logo {
    display: none;
  }

  #header-login {
    display: none;
  }

  .header-login-button {
    display: none;
  }

  .header-login-icon {
    position: absolute;
    display: flex;
    right: 5px;
    width: 50px;
    top: 45%;
  }
}
